<li id="comment_<%=comment.id %>">
  <%= comment.body %>,
  <%= time_ago_in_words(comment.created_at) %> ago
  <%= link_to fa_icon("times-circle-o"), [comment.book, comment], method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
</li>